
/*media queries*/
@media screen and (max-width: 1120px) {
    #five-days-container {
      max-width: 870px;
      margin: 0 auto;
    }
}

.day-name {
  font-size: 1.3rem;
}

.days-container {
  border-radius: 7px;
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 10px;
}